<!-- Importing Header -->
<%- include partials/header.ejs %>

<!-- Importing NavBar -->
<%- include partials/main_nav.ejs %>

<!-- MAIN ABOUT SECTION -->
<main class="container">
    <!-- Message Area -->
    <% if (messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %> 
        </div>
    <% } %>
    
    <div class="row">
        <dive class="offset-md04 col-md-4">
            <h1>Please Login</h1>
            <form action="" method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control" name = "username" placeholder="Enter Username" id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" name = "password" placeholder="Enter Password" id="password" required>
                </fieldset>
                
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </dive>
    </div>

</main>

<!-- Importing Scripts -->
<%- include partials/footer.ejs %>